.InputText{
   
    
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
label{
    font-size: 14px;
    color:rgb(8, 6, 38);
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    padding: 10 px;
    margin: 10px 0px;
    height: 25px;
    width: 200px;
    font-size: 14px;
}

input:invalid ~ span{
    display: block;
}

span{   
    font-size: 12px;
    color: red;
    display:none;
}

